.git
.gitignore
.DS_Store

node_modules
**/node_modules

.next
src/apps/web/.next
coverage
dist
tmp

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*

docs/superpowers
.superpowers
